@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


.p-400{
    font-family: "Inter";
    font-weight: 400;
}

.p-500{
    font-family: "Inter";
    font-weight: 500;
}

.p-600{
    font-family: "Inter";
    font-weight: 600;
}

.p-700{
    font-family: "Inter";
    font-weight: 700;
}

.fade-in {
    display: block;
    transition: display 1s;
  }
  
  .fade-out {
    display: none;
    transition: display 1s;
  }
  

.swiper-button-prev, .swiper-button-next{
    color: #2c2c2c !important;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    font-weight: 700 !important;
    border-radius: 10px;
}



.menu-dropdown {
    display: none !important;
    position: absolute;
    top: 41px;
    left: -350px;
    width: 100vw; 
    height: 80vh;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    z-index: 1000000; 
}

.menu-dropdown-women {
    display: none !important;
    position: absolute;
    top: 41px;
    left: -378px;
    width: 100vw; 
    height: 80vh;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    z-index: 1000000; 
}

.menu-dropdown-kid {
    display: none !important;
    position: absolute;
    top: 41px;
    left: -475px;
    width: 100vw; 
    height: 80vh;
    background-color: white;
    border: 1px solid rgb(231, 231, 231);
    z-index: 1000000; 
}

.p-700:hover .menu-dropdown, .p-700:hover .menu-dropdown-women, .p-700:hover .menu-dropdown-kid{
    display: flex !important;
}
